<h1>calculator</h1>

<label>number 1:</label>
<input type="number" [(ngModel)]="number1">
<br>

<label>number 2:</label>
<input type="number" [(ngModel)]="number2">
<br>

<button (click)="sum()">sum</button>
<button (click)="sub()">sub</button>
<button (click)="mul()">mul</button>
<button (click)="div()">div</button>

<h2>reuslt is {{ result }}</h2>


<!-- Directives:
-----------

    Directives are useful to alter the DOM.

    There are three types of directives.

    1) Structural Directives:   alters the DOM structure
    -------------------------

        ngFor:  To add elements iteratively to the DOM.
        ------ 

            <ol>
                <li *ngFor="let name of names">{{name}}</li>
            </ol>

        ngIf:  To show and hide elements on condition base.
        -----

            <h1 *ngIf="condition">Hello</h1>

    2) Attribute Directives:
    ------------------------
 -->
